body {
    background: #2e2e2e;
  }
  .container {
    width: 60%;
    margin: 10px auto;
    background: #c7c7c7;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4), 0 4px 4px rgba(0, 0, 0, 0.2);
  }
  .container input {
    background: transparent;
    outline: none;
    border: 0;
    font-size: 30px;
  }
  .suggestions {
    border-top: 2px solid #999;
  }
  .suggestions > div {
    padding: 15px;
    font-size: 20px;
    border-top: 1px solid #666;
    cursor: pointer;
  }
  .suggestions > div:hover {
    background-color: #ab2424;
  }
  .heading {
    width: 50%;
    margin: 40px auto;
    text-align: center;
    color: #fff;
    font-size: 35px;
     font-family: "Times New Roman"
  }